* {
  box-sizing: border-box;
  color: #333;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 10%;
}

#newTask {
  display: flex;
  flex-flow: column wrap;
  background-color: #eee;
  padding: 1em;
  margin: 1em 0;
  border-radius: 1em;
}

input[type="submit"] {
  background-color: black;
  border: none;
  color: white;
  width: 50%;
  margin: auto;
  padding: 0.5em 3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 21px;
  border-radius: 0.5rem;
}

label {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1em;
  margin-bottom: 1em;
}

.form-label {
  text-align: right;
}

input[type="text"] {
  width: 80%;
}

textarea {
  width: 100%;
}

.task-list {
  margin-top: 2rem;
}

.task-card {
  background-color: #eee;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
}

.claim-button {
  background-color: black;
  border: none;
  color: white;
  padding: 0.5em 3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0.5em;
}
.claimed {
  background-color: lightgray;
  cursor: default;
}

header,
footer {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
}

@media only screen and (max-width: 1129px) {
  header,
  footer {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    padding: 20px 0px 0px 0px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    margin: 5%;
  }
  label {
    display: block;
  }
  .form-label {
    text-align: left;
  }
}
